[user]
	name = Brad Sturtevant
	email = bradsturtevant@live.com
[core]
	autocrlf = true
    symlinks = true
	editor = emacsclient -t -a=\\\"\\\"
[push]
	default = simple
[credential]
	helper = cache
[diff]
	tool = p4merge
[difftool]
	keepBackup = false
	keepTemporaries = false
	prompt = false
[difftool "p4merge"]
	cmd = p4merge $REMOTE $LOCAL
[merge]
	tool = p4merge
[mergetool]
	keepBackup = false
	keepTemporaries = false
	prompt = false
[mergetool "p4merge"]
	cmd = p4merge $BASE $LOCAL $REMOTE $MERGED
